{% extends "puzzle_app/layout.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'puzzle_app/css/styles.css' %}">
{% endblock %}

{% block body %}


<table class="table" style="width: 80%">
{% if answer_type == "Proof" %}
    <tr>
        <th>Proofs</th>
    </tr>
{% for response in response_text %}
    <tr>
        <td>{{response}}</td>
    </tr>
{% endfor %}

{% elif answer_type == "WhyNot" %}
<!--  # here is correct syntax but not correct semantics -->

    <tr>
        <th>Problems</th>
    </tr>

<!-- below is nested loop, O(n^2) but won't run for large n-->
{% for response in response_text %}
    {% for r in response %}
    <tr>
        <td>{{r}}</td>
    </tr>
    {% endfor %}
{% endfor %}
<!--# here is where the ACE text is not correctly formed-->
{% elif answer_type == "Message" %}

    <tr>
        <th>Problem/ Problem word</th>
        <th>Fix</th>
    </tr>

{% for response in response_text %}

    <tr>
        <td>{{response.error_subject}}</td>
        <td>{{response.error_description}}</td>
    </tr>

{% endfor %}

{% else %}

  <h1>Didn't match anything</h1>

{% endif %}

</table>


    <!--
<table class="table" style="width:80%">
    <tr>
      <th>Problem/ Problem word</th>
      <th>Fix</th>
    </tr>
    

    {% for response in responses %}
    <tr>
      <td>{{response.error_subject}}</td>
      <td>{{response.error_description}}</td>
    </tr>
    {% endfor %}
   
</table>
 -->
<a href="{% url 'puzzle' puzzle.id %}">Back</a>

{% endblock %}