{% extends "puzzle_app/layout.html" %}
{% load static %}

{% block title %}

<h1>Welcome, you chose puzzle {{puzzle.id}}</h1>

{% endblock %}


{% block body %}

<p>{{puzzle.description}} : {{puzzle.text}}</p>

<form action="{% url 'guess %'}" method="post">
    <div class="form-group">
        <input class="form-control" name="guess" placeholder="Enter guess here">
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Enter guess</button>
    </div>
</form>



<a href="{% url 'index' %}">Back to home</a>
{% endblock %}